:root{
    --main_color: #1fc49a;
    --secondary_color: #2e2e2e;
    --green: #78d578;
    --red: #ff4b4b;
}

body{
    min-height: 100vh;
    margin: 0px;
    background-color: var(--secondary_color);
    color:white;
}